<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GameGuard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GameGuard.Properties.Settings>
            <setting name="AutoMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DarkMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinutesDrink" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinutesEat" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="MinutesBreak" serializeAs="String">
                <value>60</value>
            </setting>
        </GameGuard.Properties.Settings>
    </userSettings>
</configuration>